<section>
    <aside>
        <!-- sidebar -->
    </aside>

    <aside>
        <article class="page-heading">
            <div class="overlay-dark"></div>
            <section>
                <h3>{page.name}</h3>

                <blockquote class="mb-0">{page.quote}</blockquote>
                <p>{page.statement}</p>

                <p>{page.description}</p>
            </section>
        </article>

        <div class="bg-white">
            <!-- profile admin -->
            <!-- activities admin -->
            <!-- blog admin -->
            <!-- showcase admin -->
        </div>
    </aside>
</section>